{{template "base" .}} 
  {{define "title"}}Home Page{{end}}
  {{define "main"}}

  <h2>The Last posts</h2>
{{if .posts}} {{range .posts}}
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ124yi5yS06QmpyvRNRu4I3ql1x124DXfJ7A&usqp=CAU"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>

        <p class="card-text">
          <small class="text-muted">Author: {{.Username}}</small>
        </p>

        <a href="/post/{{.PostID}}">{{.Title}}</a>
        <p class="card-text">Published: {{.CreatedAt}}</p>             
        
      </div>
    </div>
  </div>
</div>
{{end}} {{else}}
<p>Nothing is here..for now!</p>
{{end}} {{end}}